#back_img {
   font-family: Arial, Helvetica, sans-serif;
   background-image: url("/images/wall.jpg");
}

form {
   border: 3px solid #f1f1f1;
   border-radius: 10px;
}
.header {
   padding: 5px;
   height: 100px;
   width: 100%;
   position: fixed;
   text-align: center;
   /* //  background: #1abc9c; */
   color: black;
   font-size: 20px;
}
.heading {
   margin-left: 120px;
   padding: 10px 0;
}
#grad {
   /* //background-color: #cc5200; */
   width: 600px;
   height: auto;
   margin-top: 150px;
   margin-bottom: 70px;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
   width: 520px;
   padding: 12px 20px;
   margin-left: 18px;
   display: inline-block;
   border: 2px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
   background-color: #ddd;
   outline: none;
}

#caps {
   display: none;
   color: red;
   margin-left: 21px;
   margin-top: 5px;
   margin-bottom: 0;
   text-align: center;
   text-decoration: underline;
}

button.a {
   background-color: grey;
   color: white;
   padding: 14px 20px;
   margin-top: 5px;
   margin-left: 110px;
   margin-bottom: 20px;
   border: none;
   border-radius: 25px;
   cursor: pointer;
   width: 150px;
}

button.b {
   background-color: grey;
   color: white;
   padding: 14px 20px;
   margin-top: 5px;
   margin-left: 30px;
   margin-bottom: 20px;
   border: none;
   border-radius: 25px;
   cursor: pointer;
   width: 150px;
}
button.a:hover {
   background-color: black;
   /* //opacity: 0.8; */
}

button.b:hover {
   background-color: black;
   /* //opacity: 0.5; */
}

.imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
}

img.avatar {
   width: 10%;
   height: auto;
   border-radius: 50%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 50px;
   width: 100%;
   /* //background-color: green; */
   color: white;
   text-align: center;
}

.input-container {
   display: -ms-flexbox; /* IE10 */
   display: inline-block;
   width: 50%;
   margin-left: 17px;
   margin-bottom: 5px;
}

.icon {
   padding: 10px;
   background: skyblue;
   color: white;
   min-width: 50px;
   border-radius: 5px;
   text-align: center;
}

.e1,
.p1 {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
}
/* Set a style for all buttons */
button.signupbtn {
   background-color: #00a950;
   color: white;
   padding: 14px 20px;
   margin: 8px 19px;
   border: none;
   cursor: pointer;
   width: 21%;
   opacity: 0.9;
   border-radius: 25px;
}
button.cancelbtn {
   color: white;
   padding: 14px 20px;
   margin: 8px 16px;
   border: none;
   cursor: pointer;
   width: 21%;
   opacity: 0.9;
   border-radius: 25px;
}

button:hover {
   opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
   padding: 14px 20px;
   background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
   float: left;
   width: 20%;
}

/* Add padding to container elements */
.container {
   padding: 16px;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: #474e5d;
   padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
   border: 1px solid #888;
   width: 100%; /* Could be more or less, depending on screen size */
   border-radius: 50px;
}

/* Style the horizontal ruler */

/* The Close Button (x) */
.close {
   position: absolute;
   right: 35px;
   top: 15px;
   font-size: 40px;
   font-weight: bold;
   color: #f1f1f1;
}

.close:hover,
.close:focus {
   color: red;
   cursor: pointer;
}

/* Clear floats */
.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
   flex: 30%;
   background-color: transparent;
   padding: 20px;
   border-radius: 50px;
}

/* Main column */
.main {
   flex: 50%;
   background-color: transparent;
   padding: 20px;
   border-radius: 50px;
}

/* The message box is shown when the user clicks on the password field */
#message {
   display: none;
   color: #000;
   position: relative;
   padding: 20px;
   margin-top: 10px;
}

#message p {
   padding: 10px 35px;
   font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
   color: green;
}

.valid:before {
   position: relative;
   left: -35px;
   content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
   color: red;
}

.invalid:before {
   position: relative;
   left: -35px;
   content: "✖";
}
